body{
    background-color: #FFF1EA
}
 
.Cabecalho{
    display: flex;
    width: 100vw;
    background: #D13F55;
    flex-direction: row;
    align-content: space-between;
    gap: 5px;
    margin-left: -8px;
}
.imagemTopo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.Anuncio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    float: right;
    margin-top: -130px;
    border-top: 2px solid #6e313b;
    border-left: 2px solid #6e313b;
    border-right: 2px solid #6e313b;
    border-bottom: 2px solid#6e313b;
    border-radius: 4%;

}
.TextoInicial{
    display: flex;
    font-family:'Times New Roman' 'serif';
    font-weight: bold;
    Color: #D13F55;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 2px white;
}

.Haburguerbutom{
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 12px;
    margin-right: 9px;
}

.Haburguerbutom span{
    height: 4px;
    background: #FFF1EA;
    border-radius: 2px;
    transition: 0.3s;
}
.Gato{
    display: flex;
    overflow: hidden;
    border-top: 2px solid #D13F55;
    border-left: 2px solid #D13F55;
    border-right: 2px solid #D13F55;
    border-bottom: 90px solid#D13F55;
    margin-top: 10px;
    margin: 5px;
}
.Notices{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.title {
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    top: 6px;
    left: 10px;
    font-family:'Times New Roman' 'serif';
    color: #FFF1EA;
    padding: 4px 10px;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 6px 2px 5px black;
}

.imagemcomtexto {
    position: relative;
    display: inline-block;
}

.textonoticia {
    position: absolute;
    flex-direction: center;
    top: 173px;
    left: 2px;
    font-family:'Times New Roman' 'serif';
    color: #FFF1EA;
    padding: 4px 10px;
    font-weight: bold;
    font-size: 14px;
    text-shadow: 5px 2px 5px black;
}
.declaracao {
    position: absolute;
    flex-direction: center;
    top: 240px;
    left: 10px;
    font-family:'Times New Roman' 'serif';
    color: #FFF1EA;
    padding: 4px 10px;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 5px 2px 5px black;
}