body{
    background-color: #FFF1EA
}
 
.Cabecalho{
    display: flex;
    width: 100vw;
    background: #D13F55;
    flex-direction: row;
    align-content: space-between;
    gap: 5px;
    margin-left: -8px;
}
.PngTopo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.TextoInicial{
    display: flex;
    font-family:'Times New Roman' 'serif';
    font-weight: bold;
    Color: #D13F55;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

.Haburguerbutom{
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 12px;
    margin-right: 9px;
}

.Haburguerbutom span{
    height: 4px;
    background: #FFF1EA;
    border-radius: 2px;
    transition: 0.3s;
}

.GatoBombeiro{
    display: flex;
    border-top: 10px solid #D13F55;
    border-left: 10px solid #D13F55;
    border-right: 10px solid #D13F55;
    border-bottom: 150px solid #D13F55;
    border-radius: 10%;
}

.GatoDinheiro{
    display: flex;
    border-top: 10px solid #D13F55;
    border-left: 10px solid #D13F55;
    border-right: 10px solid #D13F55;
    border-bottom: 150px solid #D13F55;
    border-radius: 10%;
    margin-top: 10px;
}

.GatoFormado{
    display: flex;
    border-top: 10px solid #D13F55;
    border-left: 10px solid #D13F55;
    border-right: 10px solid #D13F55;
    border-bottom: 150px solid #D13F55;
    border-radius: 10%;
    margin-top: 10px;
}

.GatoFujao{
    display: flex;
    border-top: 10px solid #D13F55;
    border-left: 10px solid #D13F55;
    border-right: 10px solid #D13F55;
    border-bottom: 150px solid #D13F55;
    border-radius: 10%;
    margin-top: 10px;
}

.GatoMaconha{
    display: flex;
    border-top: 10px solid #D13F55;
    border-left: 10px solid #D13F55;
    border-right: 10px solid #D13F55;
    border-bottom: 150px solid#D13F55;
    border-radius: 10%;
    margin-top: 10px;
}

.Notices{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}